alabaster==0.7.12
asgiref==3.2.3
astroid==2.2.5
attrs==19.3.0
Automat==0.8.0
autopep8==1.4.4
Babel==2.8.0
bootstrap4==0.1.0
certifi==2019.6.16
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cryptography==2.8
decorator==4.4.2
defusedxml==0.6.0
Django==2.2.3
django-allauth==0.39.1
django-appconf==1.0.4
django-cors-headers==3.0.2
django-crispy-forms==1.9.2
django-debug-toolbar==3.1.1
django-filter==2.2.0
django-rest-auth==0.9.5
django-suit==0.2.28
django-user-accounts==3.0.2
djangorestframework==3.9.4
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
fett==0.3.2
gunicorn==19.9.0
hyperlink==19.0.0
idna==2.8
imagesize==1.2.0
incremental==17.5.0
isort==4.3.21
Jinja2==2.11.2
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==1.4.6
networkx==2.5
oauthlib==3.0.1
packaging==20.4
pathtools==0.1.2
pbr==5.4.4
pep8==1.7.1
Pillow==8.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.19
Pygments==2.7.2
PyHamcrest==1.9.0
pylint==2.3.1
pymongo==3.11.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-jsonrpc-server==0.3.4
python3-openid==3.1.0
pytz==2019.1
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.2.0
service-identity==18.1.0
six==1.12.0
snooty-lextudio==1.8.6.dev0
snowballstemmer==2.0.0
Sphinx==3.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.0
stevedore==1.31.0
toml==0.10.2
typed-ast==1.4.0
typing-extensions==3.7.4.3
urllib3==1.25.3
virtualenv==16.7.9
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
watchdog==0.10.4
wrapt==1.11.2
zope.interface==4.7.1
