{% extends "base.html" %}
{% load static %} 
{% load crispy_forms_tags %}
{% block title %}
<title>Delete District</title>
{% endblock title %} 
{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}
{% block messages %}
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible alert-success fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
<hr />
{% endblock messages %}
{% block content %}
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Delete district</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="dropdown-item" href="#">Settings 1</a></li>
                <li><a class="dropdown-item" href="#">Settings 2</a></li>
              </ul>
            </li>
            <li>
              <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
          <div class="x_content">
    <form method="post">
        
        {% csrf_token %}
        
        <fieldset class="form-group">
            <div style="color:#ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">Delete District</div> <br>
            <h2>Are you sure you want to delete the district named "{{ object.name }}"?</h2>
        </fieldset>

        <div class="form-group">  
            <button type="submit" class="btn ghost-red">Yes, Delete</button>
            <a href="{% url 'accounts:district_list' %}" class="btn ghost-button">Cancel</a>
        </div>
        
    </form>
    </div>
 </div>
    </div>
  </div>
</div>
{% endblock content %}