{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block title %}
<title>Login Page</title>
{% endblock title %} {% block content %}
<div class="login-wrap">
  <div class="login-content">
    <div class="login-logo">
      <a href="#">
        <img src="{% static "images/icon/systelogo1.jpg" %}" alt="My survey">
      </a>
      <div class="location text-sm-center">Login Page</div>
    </div>
    <div class="login-form">
      <form action="" method="post">
        {% csrf_token %} {{ form|crispy }}
        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
