{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block title %}
<title>Development Information form</title>
{% endblock title %} 
{% block content %}
<div class="container">
  <div class="login-wrap">
    <div class="login-content">
      <div class="login-logo">Development Form</div>
      <div class="login-form">
        <form
          action="{{ request.path }}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %} 
          {{ form|crispy }}
          <button
            class="au-btn au-btn--block au-btn--green m-b-20"
            type="submit"
          >
            Save Development Info
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
