{% load static %}
<aside class="menu-sidebar2">
  <div class="logo">
    <a href="#">
      <img src="{% static "images/icon/systelogo1.jpg" %}" alt="My Survey" />
    </a>
  </div>
  <div class="menu-sidebar2__content js-scrollbar1">
    <div class="account2">
      <div class="image img-cir img-120">
        {% if user.photo %}
        <img src="{{ user.photo.url  }}" />
        {% else %} <img src="{% static "photo/no-image.png" %}"/> {% endif %}
      </div>
      <h4 class="name">{{ user.get_full_name }}</h4>
      <a href="{% url 'accounts:logout'  %}">Sign out</a>
    </div>
    <nav class="navbar-sidebar2">
    {% if user.user_roles == 1  %}
    <ul class="list-unstyled navbar__list">
        <li class="active">
          <a href="{% url 'accounts:dashboard'  %}">
            <i class="fas fa-tachometer-alt"></i>Dashboard</a
          >
        </li>
        <li>
          <a href="{% url 'accounts:list'  %}">
            <i class="fas fa-users"></i>Users</a
          >
        </li>

        {% comment %}
        <li>
          <a href="{% url 'accounts:profile'  %}">
            <i class="fas fa-users"></i>Profile</a
          >
        </li>
        {% endcomment %}
        <li>
          <a href="{% url 'survey_project:list'  %}">
            <i class="fas fa-suitcase"></i>Projects</a
          >
        </li>
        <li>
          <a href="{% url 'accounts:logout'  %}">
            <i class="fas fa-chart-bar"></i>Inbox</a
          >
          <span class="inbox-num">3</span>
        </li>
      </ul>

    {% elif user.user_roles == 2 %}

    <ul class="list-unstyled navbar__list">
        <li class="active">
          <a href="{% url 'accounts:dashboard'  %}">
            <i class="fas fa-tachometer-alt"></i>Dashboard</a
          >
        </li>
        <li>
          <a href="{% url 'accounts:list'  %}">
            <i class="fas fa-users"></i>Users</a
          >
        </li>

        {% comment %}
        <li>
          <a href="{% url 'accounts:profile'  %}">
            <i class="fas fa-users"></i>Profile</a
          >
        </li>
        {% endcomment %}
        <li>
          <a href="{% url 'survey_project:list'  %}">
            <i class="fas fa-suitcase"></i>Projects</a
          >
        </li>
        <li>
          <a href="{% url 'accounts:logout'  %}">
            <i class="fas fa-chart-bar"></i>Inbox</a
          >
          <span class="inbox-num">3</span>
        </li>
      </ul>

    {% elif user.user_roles == 3 %}

    <ul class="list-unstyled navbar__list">
        <li class="active">
          <a href="{% url 'accounts:dashboard'  %}">
            <i class="fas fa-tachometer-alt"></i>Dashboard</a
          >
        </li>
        <li>
          <a href="{% url 'accounts:list'  %}">
            <i class="fas fa-users"></i>Users</a
          >
        </li>

        {% comment %}
        <li>
          <a href="{% url 'accounts:profile'  %}">
            <i class="fas fa-users"></i>Profile</a
          >
        </li>
        {% endcomment %}
        <li>
          <a href="{% url 'survey_project:list'  %}">
            <i class="fas fa-suitcase"></i>Projects</a
          >
        </li>
        <li>
          <a href="{% url 'accounts:logout'  %}">
            <i class="fas fa-chart-bar"></i>Inbox</a
          >
          <span class="inbox-num">3</span>
        </li>
      </ul>

    {% elif user.user_roles == 4 %}

    <ul class="list-unstyled navbar__list">
        <li class="active">
          <a href="{% url 'accounts:dashboard'  %}">
            <i class="fas fa-tachometer-alt"></i>Dashboard</a
          >
        </li>
        <li>
          <a href="{% url 'accounts:list'  %}">
            <i class="fas fa-users"></i>Users</a
          >
        </li>

        {% comment %}
        <li>
          <a href="{% url 'accounts:profile'  %}">
            <i class="fas fa-users"></i>Profile</a
          >
        </li>
        {% endcomment %}
        <li>
          <a href="{% url 'survey_project:list'  %}">
            <i class="fas fa-suitcase"></i>Projects</a
          >
        </li>
        <li>
          <a href="{% url 'accounts:logout'  %}">
            <i class="fas fa-chart-bar"></i>Inbox</a
          >
          <span class="inbox-num">3</span>
        </li>
      </ul>

    {% else %}
        <li>
          <a href="{% url 'accounts:user_detail' user.id %}">
            <i class="fas fa-users"></i>Profile</a
          >
        </li>
      </ul>
    {% endif %}
    </nav>
  </div>
</aside>
